
body{
    font-size: 18px;
}
input{
    width: 300px;
    height: 35px;
    font-size: 26px;
    margin: 10px;
}
textarea{
    width: 400px;
    height: 75px;
    font-size: 26px;
}
.radio-checkbox{
    width: auto;
    height: auto;
    font-size: 26px;
    margin: auto;
    margin-left: 20px
}
select{
    width: 200px;
    height: 35px;
    font-size: 26px;
}
.error-msg{
    color: red;
    font-size: 22px;
}
.closed-eye{
    width: 50px;
    height: 42px;
}
.open-eye{
    width: 50px;
}
.btn{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    margin-left: 10px;
}
#checklist {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#checklist td, #checklist th {
  border: 1px solid #ddd;
  padding: 8px;
}

#checklist tr:nth-child(even){background-color: #f2f2f2;}

#checklist tr:hover {background-color: #ddd;}

#checklist th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.header{
    height: 50px;
    border: 2px solid black;
}
.wapper{
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.sidebar{
    width: 250px;
    border: 2px solid black;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.content{
    width: 500px;
    height: 90vh;
}
.nav-btn{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.active-btn{
    color: white;
    background-color: violet;
    border: 1px solid rgb(161, 40, 161);
}